@{
    ViewBag.Title = "About Cars that Care";
}

<div class="row" id="About-Us">
    <div class="col-md-6" id="about-image">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/img/giving-car.jpg" alt="Prepping Car" />
                </div>

                <div class="item">
                    <img src="~/Content/img/surprise-recipient.jpg" alt="Surprise Reaction of Recipient" />
                </div>

                <div class="item">
                    <img src="~/Content/img/excitement-recipient.jpg" alt="Excitement Image" />
                </div>

                <div class="item">
                    <img src="~/Content/img/thankful-recipient.jpg" alt="Thankful Mother 1" />
                </div>

                <div class="item">
                    <img src="~/Content/img/thankful-recipient2.jpg" alt="Thankful Mother 2" />
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="col-md-6" id="story">
        <h2 id="About-Us">Our Story</h2>
        <p>
            DeWaal & Sons Towing and Body Shop was founded by DeWaal's father in 1947. 
            The shop handles mechanical and body work and operates a tow business, as well as an impound lot.
            The business employs seven people and has enabled DeWaal and his wife, Vickie, to raise a family and
            send their children to college. On occasion over the years, LDS Church leaders have sent people to DeWaal for help.
            But there was something about DeWaal's encounter with a single mother whose car needed repairs and 
            she could not make ends meet to pay for it.
            "I thought, 'Somebody's got to step up. Somebody's got to help,'" DeWaal said. 
            "One day, I had the feeling I had to do more."
            The answer was the Cars That Care Foundation. A friend who is an attorney 
            offered free legal services to help DeWaal set up the foundation.
            Seemingly, when DeWaal has needed assistance launching the effort, 
            people have stepped forward to help, he said.
            "I've really had a strong feeling this was something the Lord wanted me to do," he said.
            </p>
        <!--
        <p>

            The NAPA Auto Parts store in Bountiful donates $500 a month in auto parts. It has also helped sponsor a billboard that advertises the 
            foundation. DeWaal is on the hunt for other corporate sponsors for the foundation, which is tax-exempt, nonprofit 
            and has a 501c3 application pending with the Internal Revenue Service.
            While the foundation leases cars, most of its work involves repairing vehicles. 
            But DeWaal can't shoulder the foundation on his own, she said. Strong called on members
            of the community to donate vehicles or cash to support the foundation's efforts.
            DeWaal said the foundation can accept any car that has a title or once had a title, 
            regardless whether the car runs. A junked car can be sold for cash, which also helps the foundation.
            "We're a very small business. There's no way I can fund it, really," DeWaal said.
            But the list of people who need help is long.
        </p>
            -->
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2 id="Video">Pay it Forward</h2>
        <p id="video-text">
            Earl and Vickie Dewaal turned their talent at fixing cars into a wonderful
            way to help single moms and families in need. The Cars That Care Foundation
            was starred on KUTV2 News Pay It Forward program. They've already helped dozens of women
            and want to help hundreds more. If you can help with either money or donate a car,
            contact Cars That Care at 801-294-4060 or online at www.carsthatcareutah.org.
        </p>
    </div>

    <!--This is the video that I found on Youtube that I embedded-->
    <div class="col-md-6">
        <div class="myVideo">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0QGAKoXp3ts" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<div class="row">
    <h2>Testimonials</h2>
</div>
<div class="row">

    <div class="col-md-4">
        <h4>Jamie Lee</h4>
        <p id="testimonial-text">
            I have not ever been there in person but this foundation is amazing 
            and drastically improving the lives of single mothers and individuals
            who desperately need help. I love the videos and you can totally
            see the happiness radiating from each person in the videos and its 
            especially cute to see the little ones faces light up! We all know tiny
            legs means MORE STEPS for them! They don't have words, but you don't 
            need words to tell how grateful they are!
        </p>
    </div>
    <div class="col-md-4">
        <h4>Julie Cheever</h4>
        <p id="testimonial-text">
            Cars that care is AMAZING! They gave my family a Beautiful 
            Van! I am so thankful to them for giving me the Perfect 
            vehicle they are so Caring and just Amazing!! Thank you so
            much for your Generosity and my Beautiful new van!!
        </p>
    </div>
    <div class="col-md-4">
        <h4>Stacy N Jon Litson</h4>
        <p id="testimonial-text">
            Reading and listening to other's how miracles really come true for 
            mother's. I am a single mother caring for my son, he gets a disability
            check once a month and it's not enough for our household I struggle to make 
            ends meet. I haven't own a vehicle about 2 1/2 years plus I had a job. Am 
            very limited in transportation getting to doctor's appointment grocery 
            store and church. My son and I we live in the country in the middle of 
            nowhere it's really hard asking of family and friends to help us out. 
            The nearest city to us is about 30 miles away. Today, I was talking to my
            probation officer about if there was charity or no of someone. Well she 
            really broken my faith, hope and Spirit trying to tell me there isn't any 
            kind of miracles nobody will help u or ur son. I know God has plans for
            each and every one us we are HIS children. God says be patience. I pray 
            more than couple 3 or 4 times daily. God Bless all of us brother's and 
            sister's everyone is Loved.

        </p>
    </div>
</div>



<div class="row">

    <div class="col-md-6">
        <h2>Information Links</h2>
        <ul>
            <li><a href="https://www.deseretnews.com/article/865568197/Foundation-gives-gift-of-auto-leases-repairs-to-single-moms-needy-families.html">Deseret News Article</a></li>
            <li><a href="https://www.facebook.com/Cars-That-Care-Foundation-180412452097247/">Our Facebook Page</a></li>
            <li><a href="https://www.lelandwest.com/cars-that-care.cfm">Why would you want to donate?</a></li>
        </ul>
    </div>

    <div class="col-md-6" id="FAQ">
        <div>
            <h2>FAQ's</h2>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            How can I get a vehicle for my Family?
                        </a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in">
                    <div class="panel-body">
                        The best way to get a vehicle is to contact us.
                        You can email, call, or come see us at our location.
                        We would love to meet and visit with you to see
                        if we can provide a car for your family.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            How can I donate to the cause?
                        </a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body">
                        You can contact us by email, phone, or coming to visit us at our location.
                        <ul>
                            <li>Email: insertemailhere@something.com</li>
                            <li>Phone: 801-294-4060</li>
                            <li>Address: 432 North 800 West West Bountiful, Utah 84087</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                            How can I thank Cars That Care?
                        </a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">
                        We are just glad that we can serve. If you know anyone who has
                        a car that they would be willing to donate, send them our way
                        so we can help others as we helped you. We also love
                        receiving letters and notes. Help our name get out there
                        by following us on social media and telling about your
                        experience with your friends.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


