@{
    ViewBag.Title = "Cars That Care";
}

<div class="jumbotron">
    <!--<h1>Make a Difference</h1>
    <p class="lead"></p>
    <p><a href="#" class="btn btn-primary btn-lg">Donate &raquo;</a></p>-->
    <h1 id="jumbo-announce">Providing cars for single mothers and needy families.</h1>
    <p><a href="https://asp.net" id="learn-more-btn" class="btn btn-primary btn-lg">Learn more</a></p>
</div>

<hr /><h2 id="home-why-help"class="text-center">Why Help?</h2>
<div id="home-why-help-row" class="row">
    <h4 id="home-help-text" class="col-sm-8 text-center">The Cars That Care Foundation transforms donated vehicles into reliable transportation for struggling and deserving individuals.
When you donate money or your old vehicle, you are changing someone's life. Everyone deserves the chance to achieve independence and the ability to provide for their families. </h4>
</div>
<hr />
<div class="row">
    <div class="col-md-4 home-step">
        <h2 class="home-step-header">Getting started</h2>
        <img src="~/Content/img/car.jpg" class="img-responsive img-rounded" />
        <p class="home-step-paragraph">
            Life doesn't always turn out the way we have planned or hoped, and for some of us,
            providing even the basic needs for ourselves and our families falls out of reach.
            Many of us are single mothers and struggling families in need of desperate help.
        </p>
    </div>
    <div class="col-md-4 home-step">
        <h2 class="home-step-header">Get more libraries</h2>
        <img src="~/Content/img/momAndChild.jpg" class="img-responsive img-rounded" />
        <p class="home-step-paragraph">
            Without transportation, finding work and caring for the many needs and challenges of
            raising children becomes a heavy burden, especially for single mothers
            and impoverished families.
        </p>
    </div> 
    <div class="col-md-4 home-step">
        <h2 class="home-step-header">Web Hosting</h2>
        <img src="~/Content/img/keys.jpg" class="img-responsive img-rounded" />
        <p class="home-step-paragraph">
            At the Cars That Care Foundation, we coordinate donations of un-needed vehicles
            and other recources to provide transportation for needy families. We are grateful
            for any and all help that aids us in assisting those we can.
        </p>
    </div>
</div>





<hr /><h2 class="text-center" id="home-success-header">Success Stories</h2>
<div class="row">

    <div class="col-md-3  box-container">
        
        <a href="@Url.Action("Story1", "Story")"><div class="ssbox">
            <h3 class="text-center home-story-title">Jessica</h3>
            <img src="~/Content/img/jessica.jpg" class="img-responsive thumbnail" />
        </div></a>

    </div>

    <div class="col-md-3  box-container">
     
        <a href="@Url.Action("Story2", "Story")">
            <div class="ssbox">
                <h3 class="text-center home-story-title">Alyssa &amp; Ben</h3>
                <img src="~/Content/img/AlyssaBen.jpg" class="img-responsive thumbnail" />
            </div>
        </a>

</div>

    <div class="col-md-3  box-container">

        <a href="@Url.Action("Story3", "Story")">
            <div class="ssbox">
                <h3 class="text-center home-story-title">Lynn</h3>
                <img src="~/Content/img/lynn.jpg" class="img-responsive thumbnail" />
            </div>
        </a>

</div>

    <div class="col-md-3  box-container">

        <a href="@Url.Action("Story4", "Story")">
            <div class="ssbox">
                <h3 class="text-center home-story-title">Ben &amp; Linda</h3>
                <img src="~/Content/img/benLynda.jpg" class="img-responsive thumbnail" />
            </div>
        </a>

</div>
</div>


