
@{
    ViewBag.Title = "Jessica's Story";
}



<div class="row">
    <div class="col-md-5">
        <img src="~/Content/img/jessica2.jpg" class="img-responsive" />
    </div>

        <div class="col-md-7">
            <h2 class="story-heading">Jessica's Story</h2>
            <p>
                Jessica Felix's commute home on public transportation took nearly 2½ hours every day.
                "It gets to the point my kids don't see me," Felix said, her eyes brimming with tears.
                But her Jeep was broken down, and she couldn't afford the repairs. Still, she had to get to work stocking flowers at Costco stores from Ogden to Lehi. That has meant catching the bus at 5:38 a.m. each day, juggling work and her responsibilities as a single mother to two preschool-age children.
                "It takes a lot out of you," Felix said. "The kids want you home. You want to be home. And I can't be sad at work because I'm the flower girl."
                On Wednesday, the Cars That Care Foundation lifted Felix's load by leasing her a donated car. The four-door car was refurbished at DeWaal & Sons Towing and Body Shop, owned by Earl DeWaal, who established the foundation 2½ years ago.
                Rolling up a garage door to reveal the car, DeWaal beamed as he handed over the vehicle to Felix.
                "This is your car," he said, bringing tears to Felix's eyes.
                "It makes me not want to give up, this and because of my kids," Felix said.
                Until nine months ago, she and her children were living in a domestic violence shelter.
                Felix said she considers leasing the car a positive step on their collective journey.
                "This is for my kids, too," she said.
            </p>
        </div>

</div>






    

